/* ----- Map wrapper (flex 1, beside sidebar) ----- */
.map-wrapper {
  flex: 1;
  position: relative;
  min-width: 0;
  min-height: 0;
  background: #e8e8e8;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #e8e8e8;
}
